body {
  margin: 20px;
  background-color: black;
  color: white;
  text-align: center;
}
#editor {
  background-color: grey;
  color: aqua;
}
#preview {
  text-align: left;
  background-color: rgb(26, 23, 23);
  border-radius: 5px;
  padding: 1em;
  overflow: auto;
}